<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>BerkeleyBord</title>
    <link href="http://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../static/stylesheets/main.css" type="text/css">
</head>

<body>
    <nav class="navbar" role="navigation">
        <div class="title col-xs-12">
            <h1>BBord</h1>
            <span class="glyphicon glyphicon-edit"></span>
        </div>
        <div class="sort">
            <h2 class="col-xs-6">New</h2>
            <h2 class="col-xs-6">Hot</h2>
        </div>
    </nav>
    <section class="posts">
        <div class="post">
            <div class="message">This is a post that says like text and shit you know text does that stuff</div>
            <div class="timestamp">5 minutes ago</div>
            <div class="score">20</div>
            <hr class="divider">
        </div>
    </section>
</body>

</html>